@import 'colors';
@import 'fonts';

:root {
    --animate-speed: 1s;
  }

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 1rem;
    text-transform: uppercase;
    background: $primary-red;
    overflow: hidden;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: calc(var(--vh, 1vh) * 100);
}

.aboutContainer {
    padding: 1rem;
    border: #ccc 1px solid;
    text-align: left;
    transform: translateX(-1200px);
    animation: heading var(--animate-speed) forwards ease-in;
}

.iconContainer {
    padding: .2rem;
    text-align: center;
}

.subscriptionContainer {
    padding: 1rem;
    border: #ccc 1px solid;
    text-align: right;
    transform: translateX(1200px);
    animation: a var(--animate-speed) forwards ease-in;
}

.menuContainer {
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    transform: translateX(-1200px);
    animation: heading var(--animate-speed) forwards ease-in;
}

.signUpContainer {
    padding: 1rem;
    border: #ccc 1px solid;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transform: translateY(1200px);
    animation: heading var(--animate-speed) forwards ease-in;
}

.brewToolsContainer {
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    transform: translateX(1200px);
    animation: heading var(--animate-speed) forwards ease-in;
}

/* Keyframes */
@keyframes heading {
    to {
      transform: translateY(0);
      transform: translateX(0);
    }
}

/* Keyframes */
@keyframes a {
    to {
        transform: translateY(0);
        transform: translateX(0);
    }
} 