@import 'colors';
@import 'fonts';

:root {
    --animate-speed: 1s;
  }

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Gotham Medium';
    font-size: 1rem;
    text-transform: uppercase;
    background: $primary-red;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: calc(var(--vh, 1vh) * 100);
}



.about {
    padding: 1rem;
    border: #ccc 1px solid;
    text-align: left;
    transform: translateX(-1200px);
    animation: heading var(--animate-speed) forwards ease-in;
}

.icon {
    padding: .2rem;
    text-align: center;
}

.coffeeSubscription {
    padding: 1rem;
    border: #ccc 1px solid;
    text-align: right;
    transform: translateX(1200px);
    animation: heading var(--animate-speed) forwards ease-in;
}

.menu {
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    transform: translateX(-1200px);
    animation: heading var(--animate-speed) forwards ease-in;
}

.signUp {
    padding: 1rem;
    border: #ccc 1px solid;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transform: translateY(1200px);
    animation: heading var(--animate-speed) forwards ease-in;
}

.brewTools {
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    transform: translateX(1200px);
    animation: heading var(--animate-speed) forwards ease-in;
}

  /* Keyframes */
  @keyframes heading {
    to {
      transform: translateY(0);
    }
  }