@import 'variables';

* {
    margin: 0;
    padding: 0;
}

body {
    background: $primary-red;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: calc(var(--vh, 1vh) * 100);
}

.about {
    padding: 1rem;
    border: #ccc 1px solid;
    text-align: left;
}

.icon {
    padding: .5rem;
    text-align: center;
}

.coffeeSubscription {
    padding: 1rem;
    border: #ccc 1px solid;
    text-align: right;
}

.menu {
    padding: 1rem;
    border: #ccc 1px solid;
    display: flex;
    align-items: flex-end;
}

.signUp {
    padding: 1rem;
    border: #ccc 1px solid;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.brewTools {
    padding: 1rem;
    border: #ccc 1px solid;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

