@import 'variables';

  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  /* Page Colors */
  #page-1 { background: $primary-red }
  #page-2 { background: $pink-color }
  #page-3 { background: $navy-color }
  #page-4 { background: $secondary-red }
  
  .page {
    display: flex;
    flex-direction: column;
    height: calc(var(--vh, 1vh) * 100);
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  
  .page h2 {
    font-size: 2rem;
    line-height: 1.2;
    margin: 1rem;
  }
  
  .page p {
    font-size: 1.3rem;
    margin: 1rem;
  }
  
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    background: #f4f4f4;
    color: #333;
    text-decoration: none;
    border: none;
    margin-top: 1rem;
    font-size: 1.1rem;
    transition: all 0.3s ease-in;
  }
  
  .btn:hover,
  .btn-dark {
    background: #333;
    color: #fff;
  }
  
  .btn-dark:hover {
    background: #f4f4f4;
    color: #333;
  }
  